DATABASE_URL="postgresql://usuario:password@localhost:5432/nombre_db?schema=public"
FRONTEND_URL="http://localhost:5173"
FIREBASE_PROJECT_ID="example-project-id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@example-project-id.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKc...\n-----END PRIVATE KEY-----\n"
